<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<config>
    <modules>
        <test_rma>
            <version>0.1.0</version> 
        </test_rma>
    </modules>
    <global>
        <models>
            <rma>
                <class>Test_Rma_Model</class>
                <resourceModel>rma_resource</resourceModel>
            </rma>
            <rma_resource>
                <class>Test_Rma_Model_Resource</class>
                <entities>
                    <order>
                        <table>rma_order</table>
                    </order>
                </entities>
            </rma_resource>
        </models>
        <resources>
            <rma_setup>
                <setup>
                    <module>Test_Rma</module>
                </setup>
            </rma_setup>
        </resources>        
        <blocks>
            <rma>
                <class>Test_Rma_Block</class>
            </rma>
        </blocks>
        <helpers>
            <rma>
                <class>Test_Rma_Helper</class>
            </rma>
        </helpers>
    </global>
    <admin>
        <routers>
            <rma>
               <use>admin</use>
                <args>
                    <module>Test_Rma</module>
                    <frontName>rma</frontName>                    
                </args> 
            </rma>
        </routers>
    </admin>             
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rma_section>
                                            <title>RMA</title>
                                        </rma_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Test_Rma</module>
                    <frontName>rma</frontName>                    
                </args>
            </rma> 
        </routers>
        <layout>
        <updates>
            <rma>
            <file>rma.xml</file>
            </rma>
        </updates>
        </layout>
    </frontend>
</config>