<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<config>  
    <modules>
        <Test_Rma>
            <version>0.1.0</version>    <!-- Version of module -->
        </Test_Rma>
    </modules>   
    <global>        
        <blocks>
            <rma>
                <class>Test_Rma_Block</class>
            </rma>
        </blocks>
    </global>
    <frontend>
        <routers>
            <test_rma>
                <use>standard</use>
                <args>
                    <module>Test_Rma</module>
                    <frontName>rma</frontName>
                </args>
            </test_rma>
        </routers>       
      <layout>
            <updates>
                <test_rma>
                    <file>rma.xml</file>
                </test_rma>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rma_section>
                                            <title>RMA</title>
                                        </rma_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>