<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <rma>
            <label>RMA</label>
        </rma>
    </tabs>
    <sections>
        <rma_section>
        <label>RMA</label>
        <tab>rma</tab>
        <sort_order>1000</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>       
        </rma_section>
    </sections>
</config>