<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<config>
    <modules>
        <Thycart_Rma>
            <version>0.1.1</version> 
        </Thycart_Rma>
    </modules>
    <global>
        <models>
            <rma>
                <class>Thycart_Rma_Model</class>
                <resourceModel>rma_resource</resourceModel>
            </rma>
            <rma_resource>
                <class>Thycart_Rma_Model_Resource</class>
                <entities>
                    <order>
                        <table>rma_order</table>
                    </order>
                    <rma_item>
                        <table>rma_order_item</table>
                    </rma_item>
                    <rma_history>
                        <table>rma_order_history</table>
                    </rma_history>
                    <rma_attributes>
                        <table>rma_attributes</table>
                    </rma_attributes>
                    <rma_eav_attribute>
                        <table>rma_eav_attribute</table>
                    </rma_eav_attribute>
                    <rma_eav_attributeoption>
                        <table>rma_eav_attribute_option</table>
                    </rma_eav_attributeoption>
                    <link>
                        <table>bankverification_link</table>
                    </link>
                </entities>
            </rma_resource>
        </models>
        <resources>
            <rma_setup>
                <setup>
                    <module>Thycart_Rma</module>
                </setup>
            <connection>
                <use>core_setup</use>
            </connection>
            </rma_setup> 
            <rma_write>
                <connection> 
                    <use>core_write</use> 
                </connection> 
            </rma_write> 
            <rma_read> 
                <connection> 
                    <use>core_read</use> 
                </connection> 
            </rma_read>        
        </resources>        
        <blocks>
            <rma>
                <class>Thycart_Rma_Block</class>
            </rma>
        </blocks>
        <helpers>
            <rma>
                <class>Thycart_Rma_Helper</class>
            </rma>
        </helpers>
    </global>
    <admin>
        <routers>
            <rma>
               <use>admin</use>
                <args>
                    <module>Thycart_Rma</module>
                    <frontName>rma</frontName>                    
                </args> 
            </rma>
        </routers>        
    </admin>             
    <adminhtml>
        <layout>
            <updates>
                <rma>
                    <file>rma.xml</file>
                </rma>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rma_section>
                                            <title>RMA</title>
                                        </rma_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Thycart_Rma</module>
                    <frontName>rma</frontName>                    
                </args>
            </rma>
            <sales>
                <args>
                    <modules>
                        <Thycart_Rma before='Mage_Sales'>Thycart_Rma</Thycart_Rma>
                    </modules>
                </args>
            </sales> 
        </routers>
        <layout>
            <updates>
                <rma>
                    <file>rma.xml</file>
                </rma>
            </updates>
        </layout>
    </frontend>
</config>