<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Thycart_Shipdesk>
            <version>1.0.0</version>
        </Thycart_Shipdesk>
    </modules>
	<global>
        <helpers>
            <shipdesk>
                <class>Thycart_Shipdesk_Helper</class>
            </shipdesk>
        </helpers>
        <models>
            <shipdesk>
                <class>Thycart_Shipdesk_Model</class>
            </shipdesk>
        </models>		
		<events>
			<view_ship>
				<observers>
					<shipdesk>	          
						<class>Thycart_Shipdesk_Model_Observer</class>
						<method>getRates</method>
					</shipdesk>
				</observers>
			</view_ship>
			<create_ship_shipdesk>
				<observers>
					<createshipdesk>	          
						<class>Thycart_Shipdesk_Model_Observer</class>
						<method>createShipment</method>
					</createshipdesk>
				</observers>
			</create_ship_shipdesk>
		</events> 
	  	<blocks>
            <shipdesk>
                <class>Thycart_Shipdesk_Block</class>
            </shipdesk>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>
                        Thycart_Shipdesk_Block_Adminhtml_Sales_Order_Shipment_View
                    </sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <shipdesk_setup>
                <setup>
                    <module>Thycart_Shipdesk</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipdesk_setup>
            <shipdesk_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipdesk_write>
            <shipdesk_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipdesk_read>
        </resources>
	</global>
    <admin>
        <routers>
            <shipdesk>
                <use>admin</use>
                <args>
                    <module>Thycart_Shipdesk</module>
                    <frontName>shipdesk</frontName>
                </args>
            </shipdesk>
            <adminhtml>
                <args>
                    <modules>
                        <sales_order_shipment before="Mage_Adminhtml">Thycart_Shipdesk_Adminhtml</sales_order_shipment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shipdesk>
                    <file>shipdesk.xml</file>
                </shipdesk>
            </updates>
        </layout>
	<acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <shipdesksettings>
                                        <title>Shipdesk</title>
                                    </shipdesksettings>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    </adminhtml>
	<default>
        <shipdesksettings>
            <address>
                <ship_name>MurciaFashion.com</ship_name>
				<ship_company>Murcia Fashion</ship_company>
				<ship_email>info@murciafashion.com</ship_email>
				<ship_phone>02228475234</ship_phone>
				<ship_country>IN</ship_country>
				<ship_state>MH</ship_state>
				<ship_zip>400081</ship_zip>
				<ship_city>Mumbai</ship_city>
				<ship_street_address_line1>Vikroli</ship_street_address_line1>
				<ship_street_address_line2></ship_street_address_line2>
            </address>
			<urloptions>
				<get_rate>http://shipdesk.in/mobile/mobile_quick.php</get_rate>
				<create_shipment>http://shipdesk.in/newfile.php</create_shipment>
				<add_item>http://shipdesk.in/add_item.php</add_item>
				<place_shipment>http://shipdesk.in/rate.php</place_shipment>
			</urloptions>
        </shipdesksettings>
    </default>
</config>